atomicwrites==1.4.0
attrs==21.4.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
idna==2.8
importlib-metadata==4.11.2
more-itertools==8.12.0
packaging==21.3
pluggy==0.13.1
py==1.11.0
pyparsing==3.0.7
pytest==4.6.2
requests>=2.22.0
six==1.16.0
urllib3==1.26.5
wcwidth==0.2.5
zipp==3.7.0
